<ion-view view-title="computation">
    <ion-content>

        <button class="button button-balanced" ng-click="startButtonClicked()">
            start
        </button>

        <button class="button button-energized" ng-click="stopButtonClicked()">
            stop
        </button>

        <ion-list id="taskList">

        </ion-list>

    </ion-content>
</ion-view>
