<ion-view view-title="Gallery">
<!--    <ion-nav-buttons side="right">
        <button class="button" ng-click="addButtonClicked($event)">add</button>
    </ion-nav-buttons>-->
    <ion-content>
        <h1>Gallery <span><button class="button button-calm" ng-click="addButtonClicked($event)">add</button></span></h1>

        <ion-list id="galleryList">
            <ion-item ng-repeat="n in data" class="">
                <h2>{{n.name}}</h2>
                <img src="{{n.path}}" alt="{{n.name}}" width="100%"/>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
