<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
        <input type="file" id="fileUpload" name="file "/>
        <button ng-click="addFile()">add</button>
    </ion-content>
</ion-popover-view>