<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Gallery" icon="ion-image" href="#/app/gallery">
    <ion-nav-view name="tab-gallery"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Task" icon="ion-clock" href="#/app/computation">
    <ion-nav-view name="tab-task"></ion-nav-view>
  </ion-tab>

</ion-tabs>
